<?xml version="1.0" encoding="UTF-8"?>
<web-app id="BrDB" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

	<display-name>FX - jAI</display-name>

	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>Poc.html</welcome-file>
	</welcome-file-list>
	
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:applicationContext.xml</param-value>
	</context-param>
	
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	
	
	
	<!-- Base Servlets -->
	<servlet>
		<servlet-name>pocGWTServlet</servlet-name>
		<servlet-class>com.dmma.fxjai.web.gwt.poc.server.services.PocGWTServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>pocGWTServlet</servlet-name>
		<url-pattern>/Poc/PocGWTService</url-pattern>
	</servlet-mapping>
</web-app>
