.canvas{
	position: relative;
	border: 1px dashed #CCCCCC;
}

.bar{
	position: absolute;
	border: 1px solid #000000;
	width: 3px;
}

.barUp{
	background: #303030;	
}
.barDown{
	background: #FFFFFF;
}

.barStrike{
	position: absolute;
	background: #303030;
	width: 1px;
}