<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
                           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
                           http://www.springframework.org/schema/tx 
                           http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">


	<bean id="dataSource" class="com.dmma.fxjai.core.configuration.ApplicationDataSource" destroy-method="close">
	</bean>
	
	<bean id="mailServerConfigurator" class="com.dmma.fxjai.core.configuration.MailServerConfiguratorImpl" />
	
		
	<!-- HIBERNATE SESSION FACTORY -->
	<bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="configurationClass" value="com.dmma.fxjai.core.configuration.ApplicationConfiguration" />
	</bean>


	<!-- All beans that handles business logic -->
	
	<!-- DAOs -->
	<bean id="mailTemplateDao"   class="com.dmma.base.app.mail.daos.MailTemplateDao">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="mailDao"   class="com.dmma.base.app.mail.daos.MailDao">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="pocDao"          class="com.dmma.fxjai.db.daos.PocDao">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="accountDao"      class="com.dmma.fxjai.db.daos.AccountDao">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="barDao"      class="com.dmma.fxjai.db.daos.BarDao">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<!-- end DAOs -->


	<!-- DBServices -->
	<bean id="mailTemplateService" class="com.dmma.base.app.mail.services.MailTemplateService">
		<property name="mailTemplateDao" ref="mailTemplateDao"/>
	</bean>
	<bean id="mailService" class="com.dmma.base.app.mail.services.MailService">
		<property name="mailDao" ref="mailDao"/>
	</bean>
	<bean id="mailProcessor" class="com.dmma.base.app.mail.services.MailProcessor">
		<property name="mailService" ref="mailService"/>
		<property name="mailServerConfigurator" ref="mailServerConfigurator"/>
	</bean>
	
	<bean id="accountDBService"     class="com.dmma.fxjai.db.services.AccountDBService">
		<property name="accountDao" ref="accountDao"/>
	</bean>
	<bean id="barDBService"        class="com.dmma.fxjai.db.services.BarDBService">
		<property name="barDao"    ref="barDao"/>
	</bean>
	
	<!-- DBServices -->



	<!-- Core Services -->
	<bean id="metaTraderService"         class="com.dmma.fxjai.core.services.MetaTraderService">
		<property name="pocDao" ref="pocDao"/>
		<property name="accountDBService" ref="accountDBService"/>
		<property name="barDBService"     ref="barDBService"/>
	</bean>
	<!-- Core Services -->


	<bean id="connector"  class="com.dmma.fxjai.connector.Connector">
		<property name="metaTraderService" ref="metaTraderService"/>
	</bean>
	
</beans>
